@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500&family=IBM+Plex+Serif:wght@400;500;700&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --azulManeiro: #156fc3;
    --brancoPadrao: #fff;
    --pretassoTeste: #000;

    --fonteManeira: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 80px;
    background-color: rgba(29, 29, 29, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 99;
}

header .logo {
    width: 50%;
}

header .logo img {
    width: 100px;
    height: 75px;
    padding-top: 5px;
}

header .menu ul {
    display: flex;
}

header .menu ul li {
    padding: 0px 20px;
    list-style: none;
}

header .menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--brancoPadrao);
    transition: 0.5s ease;
}

header .menu ul li a:hover {
    color: var(--azulManeiro);
}

/*=========== Home (Sem o Homem Aranha) ===========*/

#home .container {
    width: 100%;
    height: 100vh;
    background-image: url(imagens/macaco6.png);
    background-size: auto;
}

#home .container .icons {
    width: 10%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    position: fixed;
    z-index: 999;
}

#home .container .icons ion-icon {
    padding: 30px 0;
    font-size: 2rem;
    color: var(--brancoPadrao);
    transition: 0.5s ease;
}

#home .container .icons ion-icon:hover {
    color: var(--azulManeiro);
}

#home .container .titulo {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0 60px;
}

#home .container .titulo h1 {
    color: var(--brancoPadrao);
    text-transform: uppercase;
    font-size: 6rem;
    letter-spacing: 5px;
}

#home .container .titulo h2 {
    color: var(--brancoPadrao);
    text-transform: uppercase;
    letter-spacing: 40px;
    font-size: 3rem;
    margin-left: 30px;
}

#home .container .titulo h3 {
    color: var(--brancoPadrao);
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 20px;
    margin-top: 30px;
    margin-left: 35px;
}

/*=========== Sobre ===========*/

#sobre .container {
    width: 100%;
    height: 100vh;
    background-image: url(imagens/macaco4.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

#sobre .container .titulo {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 60px;
}

#sobre .container .titulo h1 {
    color: var(--brancoPadrao);
    text-transform: uppercase;
    font-size: 2rem;
    text-align: left;
}

#sobre .container .titulo p {
    color: var(--brancoPadrao);
    width: 500px;
    margin-top: 30px;
}

#sobre .container .box-title {
    width: 420px;
    height: 44vh;
    margin-top: 20px;
    padding: 0 10px;
    box-shadow: 0 0 10px 0 rgba(21, 111, 195, 0.5);
    border-radius: 20px;
}
#sobre .container .box-title span {
    color: var(--brancoPadrao);
}

#sobre .container .box-title .b1 {
    width: 400px;
    height: 8px;
    background: var(--brancoPadrao);
    margin-top: 2px;
    border-radius: 5px;
}

#sobre .container .box-title .b2 {
    width: 400px;
    height: 8px;
    background-color: var(--azulManeiro);
    border-radius: 5px;
}

/*=========== Sobre as Empresas ===========*/

#empresasSobre .container {
    width: 100%;
    height: 100vh;
    background-image: url(imagens/macaco5.png);
    background-size: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#empresasSobre .container input[type=radio] {
    display: none;
}

#empresasSobre .container .card {
    position: absolute;
    width: 40%;
    height: 80%;
    left: 0;
    right: 0;
    margin: 150px auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#empresasSobre .container .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#empresasSobre .container .card h1 {
    position: absolute;
    z-index: 9;
    color: var(--brancoPadrao);
    font-size: 6rem;
    margin-top: 60px;
}

#empresasSobre .container .card p {
    position: absolute;
    z-index: 9;
    width: 400px;
    color: var(--pretassoTeste);
    margin-top: 200px;
    text-align: justify;
}

#empresasSobre .container .card button {
    position: absolute;
    z-index: 9;
    margin-top: 400px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: var(--brancoPadrao);
    background-color: var(--azulManeiro);
}
