@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500&family=IBM+Plex+Serif:wght@400;500;700&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --azulManeiro: #156fc3;
    --brancoPadrao: #fff;
    --pretassoTeste: #000;
    --barraCor: #1b003f;

    --fonteManeira: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 80px;
    background-color: rgba(29, 29, 29, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 99;
}

header .logo {
    width: 50%;
}

header .logo img {
    width: 300px;
    height: 75px;
    padding-top: 5px;
}

header .menu ul {
    display: flex;
}

header .menu ul li {
    padding: 0px 20px;
    list-style: none;
}

header .menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--brancoPadrao);
    transition: 0.5s ease;
}

header .menu ul li a:hover {
    color: var(--azulManeiro);
}

body::-webkit-scrollbar {
    width: 9px;               
  }
  
  body::-webkit-scrollbar-track {
    background: var(--barraCor);        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #4f0085;    
    border-radius: 20px;       
    border: 2px solid #4f0085;  
  }

/*=========== Home (Sem o Homem Aranha) ===========*/

#home .container {
    width: 100%;
    height: 100vh;
    background-image: url(imagens/backgroundLeft.png);
    background-size: cover;
}

#home .container .icons {
    width: 10%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    position: fixed;
    z-index: 999;
}

#home .container .icons ion-icon {
    padding: 30px 0;
    font-size: 2rem;
    color: var(--brancoPadrao);
    transition: 0.5s ease;
}

#home .container .icons ion-icon:hover {
    color: var(--azulManeiro);
}

#home .container .titulo {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0 60px;
}

#home .container .titulo h1 {
    color: var(--brancoPadrao);
    text-transform: uppercase;
    font-size: 6rem;
    letter-spacing: 5px;
}

#home .container .titulo h2 {
    color: var(--brancoPadrao);
    text-transform: uppercase;
    letter-spacing: 40px;
    font-size: 3rem;
    margin-left: 30px;
}

#home .container .titulo h3 {
    color: var(--brancoPadrao);
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 20px;
    margin-top: 30px;
    margin-left: 35px;
}

/*=========== Sobre ===========*/

#sobre .container {
    width: 100%;
    height: 100vh;
    background-image: url(imagens/backgroundRight.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

#sobre .container .titulo {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 60px;
}

#sobre .container .titulo h1 {
    color: var(--brancoPadrao);
    text-transform: uppercase;
    font-size: 2rem;
    text-align: left;
}

#sobre .container .titulo p {
    color: var(--brancoPadrao);
    width: 500px;
    margin-top: 30px;
}

#sobre .container .box-title {
    background: rgba(0, 0, 0, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(0, 0, 0, 0.16);
    width: 420px;
    height: 44vh;
    margin-top: 20px;
    padding: 0 10px;
    border-radius: 20px;
}
#sobre .container .box-title span {
    color: var(--brancoPadrao);
}

#sobre .container .box-title .b1 {
    width: 400px;
    height: 8px;
    background: var(--brancoPadrao);
    margin-top: 2px;
    border-radius: 5px;
}

#sobre .container .box-title .b2 {
    width: 400px;
    height: 8px;
    background-color: var(--azulManeiro);
    border-radius: 5px;
}

/*=========== Sobre as Empresas ===========*/

#empresasSobre .container {
    width: 100%;
    height: 100vh;
    background-image: url(imagens/backgroundFix.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#empresasSobre .container input[type=radio] {
    display: none;
}

#empresasSobre .container .card {
    position: absolute;
    width: 40%;
    height: 80%;
    left: 0;
    right: 0;
    margin: 150px auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 var(--azulManeiro);
    transition: 0.4s ease;
    cursor: pointer;
}

#empresasSobre .container .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#empresasSobre .container .card h1 {
    position: absolute;
    z-index: 9;
    color: var(--brancoPadrao);
    font-size: 6rem;
    margin-top: 60px;
}

#empresasSobre .container .card p {
    position: absolute;
    z-index: 9;
    font-weight: bold;
    width: 400px;
    color: var(--brancoPadrao);
    margin-top: 200px;
    text-align: justify;
}

#empresasSobre .container .card button {
    position: absolute;
    z-index: 9;
    margin-top: 400px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: var(--brancoPadrao);
    background-color: var(--azulManeiro);
    text-transform: uppercase;
    cursor: pointer;
}

#empresasSobre .container .cards {
    position: relative;
    width: 100%;
    height: 100%;
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2 {
    transform: translatex(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1 {
    transform: translatex(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
}

/*=========== Contato ===========*/
#contato .container {
    width: 100%;
    height: 100vh;
    background-image: url(imagens/backgroundRight.png);
    background-size: cover;
}

#contato .container .conteudo-contato {
    width: 80%;
    height: 60vh;
    margin: 0 auto;
    padding: 200px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#contato .conteudo-contato .contato-esquerda {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    color: var(--brancoPadrao);
}

#contato .conteudo-contato .contato-esquerda h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

#contato .conteudo-contato .linha {
    width: 525px;
    height: 3px;
    background: var(--brancoPadrao);
    margin-top: 10px;
    margin-bottom: 10px;
}

#contato .conteudo-contato .contato-esquerda ion-icon {
    font-size: 2rem;
    padding: 20px 0;
}

#contato .conteudo-contato .contato-esquerda span {
    font-size: 1.2rem;
    padding: 5px 0;
}


